*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
		font-weight: 600;
}
.container{
	width: 90%;
	margin: auto;
}
a{
	text-decoration: none;
	color: #B45F04;
}
 a:hover{
	text-decoration: underline;
}		
body{
	background-color: #F2F2F2;
}
h2{
	text-transform: uppercase;
	font-size: 16px;
}
.clear{
	clear: both;
}





/*Inicio cabecalho*******************************************************/
header{
	background-color: #29220A;
	height: 200px;

}
header h1{
	float: left;
}
header a{
	font-weight: 300;
	color: #FFF;
}
header span{
	color: #B45F04;
}
header nav{
	text-align: right;
	padding: 2em 0;
}
header li{
	display: inline;
	font-weight: 300;
}
header nav a{
	color: #B45F04;
	font-weight: 600;
	padding: 10px;
}
header nav a:hover{
	color:#29220A ;
	background-color: #B45F04;
	text-decoration: none;
	font-weight: 600;
	padding: 10px;
}




/*Fim cabecalho*******************************************************/
.alinha-flex{
	display: flex;
	justify-content: space-between;
}
.alinhamento-principal{
	flex-basis: 69%; 
	margin-right: 20px;
}
.alinhamento-lateral{
	flex-basis: 39%; 
}
.flex-basis50{
	flex-basis: 45%;
}


/*Inicio destaques******************************************************/
#destaques-conteudo{
	margin-top: -100px;
}

#imagem-museu{
	width: 100%;
	height: 100%;
}
#imagem-depoimento{
	width: 100%;
}
/*Fim destaques******************************************************/

/*Inicio principal******************************************************/

			/*central*/
#principal-conteudo{
	margin-top: 20px;
}

#video-museu{
	margin-bottom: 50px;
}
#historia{
	margin-bottom: 30px;
}
#historia p{
	margin-bottom: 10px;
}
#exposicoes{
	margin-bottom: 30px;
	height: 250px;
}
#exposicoes ul{
	margin-left: 20px;
}

#mapa-museu{
	margin-bottom: 50px;
}
#principal-conteudo-central article{
	justify-content: space-around;
}
#principal-conteudo-central h2{
	color: green;
	padding-bottom: 20px;
}
#principal-conteudo-central ul{
	list-style: disc;
}
								/*lateral*/

#visita{
	padding: 0 40px;
	padding-bottom: 40px;
	background-color: #989E90;
}		
#principal-conteudo-lateral h2{
	color: #B45F04;
	padding: 10px;

}	
#visita label{
	font-weight: 500;
}
#visita form{
	text-align: center;
}
#visita form div{
	margin-left: 20px;
	margin-bottom: 20px;
}
#data{
	width: 147px;
	font-weight: 500;
}					
#qtd-pessoas{
	width: 30px;
	font-weight: 500;
}	
#botao{
	padding: 15px 50px;
	color: #FFF;
	background-color: #757772;	
}
#botao:hover{
	cursor: pointer;
	background-color: #757792
}
#galeria-fotos{
	background-color: #E3E8DC;
}
#galeria-fotos-conteudo{
	margin-left: 10%;
	margin-bottom: 10%;
}
#fotos{

	background-color: #E3E8DC;
	height: 100%;
}
#fotos div{
	width: 35%;
	margin: 20px;
	text-align: center;
	background-position: center center;
	height: auto;
	background-image: url('../img/fundo-foto.png');
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
}
#fotos img{
	padding: 10px 10px;
	width: 70%;

}
/*Fim principal******************************************************/

/*Inicio rodapé******************************************************/
#rodape{
	background-image: url('../img/fundo-rodape.png');
	background-repeat: no-repeat;
	background-position: top center;
}
#rodape nav{
	padding-top: 30px;
	}
#rodape ul{
	list-style: none;
	text-align: center;
	margin: auto;
}
#rodape ul li{
	margin: 20px;
	display: inline;
}
#rodape{
	font-size: 13px;
}
#rodape p{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}


/*Fim rodapé******************************************************/
